.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    font-size: 15px;
    background-color: $light-color;
    z-index: 50;

    &-row {
        @include template-flex(space-between, center);
    }

    .logo {
        @include template-flex(center, center);
        column-gap: 9px;
        color: $secondary-color;

        span {
            @include template-transition(color);
            color: $secondary-color;
            font-weight: 700;
        }

        &:hover {
            span {
                color: $accent-color-hover;
            }
        }
    }

    &-nav__desktop {
        @include template-flex(flex-end, center);
        flex-grow: 1;
        column-gap: 26px;
    }

    &-nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 15px;
        @include template-flex(flex-start, center);
        flex-direction: column;
        gap: 30px;
        background-color: #000000ba;
        z-index: 99;

        &__btn {
            margin: 15px 0 0 auto;
        }
    }

    &-list {
        @include template-flex(center, center);
        flex-wrap: wrap;
        gap: 30px;

        a {
            position: relative;
            display: block;
            color: $main-color;
            @include template-transition(color);

            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 1px;
                opacity: 0;
                background-color: $accent-color;
                border-radius: 1px;
                @include template-transition(opacity);
            }

            &:hover {
                color: $accent-color;

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &-button {
        @extend .main-button;
        width: 193px;
        height: 40px;
    }

    &-open__btn {
        display: none;
    }
}
