@media (width <= 1240px) {
    .results {
        &-row {
            padding-top: 60px;
            flex-direction: column;
            align-items: stretch;
            row-gap: 32px;
        }

        &-content__text,
        &-content__text p {
            text-align: center;
            max-width: 100%;
        }

        .form {
            margin: 0 auto;
            max-width: 40%;
            text-align: center;
        }

        &-image {
            max-width: 100%;
            display: flex;
            justify-content: center;
            padding: 30px;
        }

        &-image__inner {
            margin: 0 auto;
        }
    }
}

@media (width <= 1024px) {
    .header {
        &-list,
        &-nav__desktop {
            font-size: 14px;
            column-gap: 15px;
        }
    }

    .features {
        &-list {
            gap: 26px;
        }
    }
}

@media (width <= 800px) {
    .section {
        padding: 40px 0;
    }

    .header {
        &-row {
            align-items: flex-start;
        }

        &-list {
            margin-top: 10vh;
            @include template-flex(center, center);
            flex-direction: column;
            font-size: 20px;

            a {
                color: $light-color;
            }
        }

        &-nav__desktop {
            .header-list,
            .main-button {
                display: none;
            }
        }

        &-open__btn {
            display: block;
        }
    }

    .title {
        font-size: 30px;
    }

    .results {
        .form {
            max-width: 70%;
        }

        &-content__text {
            h2 {
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

@media (width <= 768px) {
    .about {
        &-list {
            li {
                text-align: center;
                align-items: center;
                flex-direction: column-reverse;

                h3 {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (width <= 568px) {
    .header {
        &-nav {
            width: 100%;
        }

        &-list {
            a {
                font-size: 30px;
            }
        }

        &-button {
            width: 299px;
            height: 56px;
            font-size: 20px;
        }
    }

    .results {
        &-image {
            display: none;
        }
    }

    .footer {
        &-row {
            flex-direction: column;
            gap: 20px;
        }
    }
}
