body {
    font:
        normal 400 18px/1.6 'Kumbh Sans',
        sans-serif;
    color: $main-color;
    background-color: $light-color;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 8px;

    &-thumb {
        background-color: $accent-color;
        border-radius: 8px;
    }

    &-track {
        background-color: $bg-color;
    }
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 48px;
    line-height: 1.2;
    color: $secondary-color;
}

.subtitle {
    @include template-font(16, 400, transparentize($main-color, 0.5));
}

.main-button {
    position: relative;
    width: 250px;
    height: 42px;
    font-size: 14px;
    color: $light-color;
    text-align: center;
    border-radius: 10px;
    background-color: $accent-color;
    @include template-transition(background-color);

    &:hover {
        background-color: $accent-color-hover;
    }

    &:active {
        background-color: #20ad96;
    }
}

.none {
    display: none !important;
}

.section {
    padding: 96px 0;
}

.icon {
    font-size: 30px;
    color: $accent-color;
    @include template-transition(color);

    &:hover {
        color: $accent-color-hover;
    }
}
